* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: sans-serif;
    background-color: #fff;
}

nav {
    background: red;
    height: 5vh;
    font-size: 14px;
}

nav ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #110c0c;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav ul li a:hover {
    background-color: lightblue;
    color: black;
}

nav ul li img {
    height: 100%;
    width: 100%;
    background: transparent;
}

footer {
    align-items: center;
    background-color: #262626;
    bottom: 0;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    height: 4vh;
    width: 100%;
}

main {
    margin: auto;
    min-height: 90%;
    background-color: #dbe5a8;
    width: 70%;
    float: left;
    padding: 1%;
}

aside {
    width: 25%;
    background: yellow;
    height: 50vh;
    float: right;
    right: 0;
    position: sticky;
    top: 0;
    transform: translateY(50%);


}

#shopping-cart {
    mix-blend-mode: multiply;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

form {
    width: 100vh;
    height: 100%;

}

.fullScreenMain {
    width: 100%;
}

.loginRegisterForm{
    display:block;
    margin:auto;
}

input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input:focus {
    background-color: #ddd;
    outline: none;
}
.input-error{
    border:red solid 1px;
}
.registerBtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}
#logoutInput{
    width: 100%;
    height: 100%;
    border: none;
    background: inherit;
    font-size: inherit;
    color: white;
    margin: 0;
    padding: 0;
}
#logoutInput:hover{
    background-color: lightblue;
    color: black;
}
.welcome{
    border: 1px solid #110c0c;
    width: 25%;
    float: right;
    display: block;
    margin: 1vh;
    font-style: italic;
    font-size: 25px;
}
#myProfileSection{
    border: 1px solid #110c0c;
    width: 80vh;
    height: 90vh;
    margin: auto;
}
#myProfilePicture{
    max-width: 50%;
    max-height: 22.5%;
    border: 1px solid #110c0c;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#myProfileInfo{
    border: 1px solid #110c0c;
    width: 50%;
    height: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: yellow;
}
.myProfileForm{
    display:block;
    margin:auto;
}
.formLabel{
    display:block;
    margin:auto;
    font-size: 15px;
    font-style: italic;
}
.myProfileFieldSet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8,7vh);
    row-gap: 0;
}
#editProfileBtn{
    background-color: #aa0404;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

#saveProfileBtn{
    grid-column-start: 1;
    grid-column-end: 3;
}
input[disabled] {
    background-color: inherit;
}
.myProfileFieldSet input{
    margin: 5px 0 5px 0;
}

#shop-section{
    border: #aa0404 solid 1px;
    width: 100%;
    /*height: 100%;*/
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
}


.product-template{
    border: black solid 1px;
    display: grid;
    max-height: 40vh;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, 300px);
}
.shop-img{
    height: 100%;
    margin: auto;
}
.inside-product-template{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shopping-cart-h1{
    font-family: Roboto,sans-serif;
    font-size: 2.5em;
}
.add-to-cart-btn{
    border-style: none;
    text-transform: uppercase;
    background-image: none;
    font-size: 0.875rem;
    font-weight: 700;
    margin: 20px auto 0;
    color: #111111 !important;
    background-color: #f1c50e !important;
}
.my-profile-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.add-new-product-a{
    border:2px solid lightsalmon;
    background-color: lightcyan;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-new-product-a:hover{
    background-color: lightsalmon;
    color: white;
}
.add-product-fieldset{
    display: grid;
    grid-template-columns: 20% 80%;
    row-gap: 10px;
    padding: 10px;
}
.fullScreenMain>form {
    width: 50%;
    font-weight: bolder;
}
.submitBtn{
    width: 50%;
    margin:auto;
    grid-column:1/3;
    height: 5vh;
}
.trainers-section{

    border: 4px solid #1fd51f;
    display: flex;
    flex-wrap: wrap;
    /*width: 90%*/

}
.trainer-card{

    border: 2px solid #283f8c;
    display: grid;
    grid-template-rows: 65% 35%;
    /*max-width: 33.333%;*/
    min-width: 350px;
    flex-basis: auto;
    width:33.333%;
}
.trainer-img{
    max-width:100%;
    max-height:100%;
    margin:auto;

}
.trainer-info>*{
    text-align: center;
}
.groupWorkouts-section{
    border: 4px solid #be1d33;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 20vh;
}
.groupWorkouts-card{
    width:100%;
    display:grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: minmax(20vh, auto);

}
.groupWorkoutInfo{
    height: 100%;
    max-height: 100%;
    border-left: 2px solid #0d130d;
    padding: 1%;
    border-bottom: #aa0404 solid 1px;
}

.add-group-workout-select{
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    background: #f1f1f1;
}

/*-----------------*/


.CartContainer{
    margin:auto;
    width: 80%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}

.Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2F3841;
}

.Action{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items{
    margin: auto;
    width: 90%;
    max-height: 20vh;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-box{
    width: 15%;
    text-align: center;
}
.about{
    height: 100%;
    width: 24%;
}
.title{
    padding-top: 10px;
    font-size: 25px;
    font-weight: 800;
    color: #202020;
}
.subtitle{
    font-size: 18px;
    font-weight: 600;
    color: #909090;
}

.counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}
.count{
    font-size: 20px;
    font-weight: 600;
    color: #202020;
}

.prices{
    height: 100%;
    text-align: right;
}
.amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}
.remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

.pad{
    margin-top: 5px;
}

hr{
    width: 100%;
}
.checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
}
.total{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Subtotal{
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
}
.items{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}
.total-amount{
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
}
.cart-button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}















