<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta role="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--InBrowserLink-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


    <title>Index</title>
</head>
<body>
<!--th:replace="fragments/navbar.html::nav"-->
<nav th:replace="fragments/navbar.html::nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Group Workouts</a></li>
        <li><a href="#">Trainers</a></li>
        <li><a th:href="@{/shop}" href="#">Shop</a></li>
        <li><a th:href="@{/users/login}" href="#">Login</a></li>
        <li><a th:href="@{/users/register}" href="#">Register</a></li>
        <li>
            <a href="#" th:action="@{/users/logout}" th:method="post">
                <form style="width:100%; height:100%; background: inherit" th:action="@{/users/logout}"
                      th:method="post">
                    <input id="logoutInput" value="LOGOUT" type="submit" th:value="LOGOUT">
                </form>
            </a>
        </li>
        <li><a href="#">My profile</a></li>
        <li style="width: 25%"><a th:href="@{/shoppingCart}"><img id="shopping-cart" src="../images/shoppingCartIco.jpg"
                                                                  alt=""></a></li>
    </ul>
</nav>

<main>


    <h1>Welcome to Koko Gym</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
    <img style="height: 30vh"
         src="https://media.istockphoto.com/photos/empty-gym-picture-id1132006407?k=20&m=1132006407&s=612x612&w=0&h=Z7nJu8jntywb9jOhvjlCS7lijbU4_hwHcxoVkxv77sg="
         alt="">
    <p><strong>Let us help you build your dream body</strong></p>
    <h2>Our staff</h2>
    <img style="height: 30vh"
         src="https://www.wellnessliving.com/blog/wp-content/uploads/2019/04/Gym-Staff-Candidates.jpg" alt="">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>

</main>

<section th:replace="fragments/welcome.html::section" class="welcome">
    Welcome, Guest!
</section>

<aside>

    <h3 class="text-center font-italic">Discounts</h3>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div th:each="p, iStat : ${@discountScheduler.getProducts()}" th:object="${p}"
                 class="carousel-item" th:classappend="${iStat.first ? 'active': ''}">
                <img class="d-block m-auto" th:src="*{imageUrl}" src="https://bit.ly/3PVKmn0" alt="First slide">
                <div style="height: 30%" class="carousel-caption d-none d-md-block text-danger bg-dark p-1">
                    <h5 th:text="*{name}">Whey Protein</h5>
                    <h6 style="text-decoration: line-through"
                        th:text="|Old price: ${#numbers.formatDecimal(p.price*2,1,2)}|">
                        Old price: 11.10
                    </h6>
                    <h4 th:text="|New price: ${#numbers.formatDecimal(p.price,1,2)}|"></h4>
                    <th:block sec:authorize="${isAuthenticated()}">
                        <a th:unless="${#authentication.principal.shoppingCart.containsId(p.id)}"
                           href="#" th:href="@{/shop/addToCart/{id}(id=*{id})}">
                            <button class="btn-block btn-primary">Add to cart</button>
                        </a>
                        <label th:if="${#authentication.principal.shoppingCart.containsId(p.id)}"
                               class="added-label">Added&#10004;</label>

                    </th:block>
                    <th:block sec:authorize="${!isAuthenticated()}">
                        <a class="add-to-cart-btn" th:href="@{/users/login}" href="#">Add to Cart</a>
                    </th:block>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>




</aside>

<footer>
    <p>&copy 2022 - Kaloyan Georgiev</p>
</footer>
<script>

    // jQuery(document).ready(function () {
    //     jQuery('#carouselExampleIndicators1').carousel({
    //         interval: 2000
    //     });
    // });

</script>
</body>
</html>